name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: gradle-${{ runner.os }}-
      - uses: actions/checkout@v4
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
      - name: git submodule update
        run: git submodule update --init --recursive
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        env:
          GITHUB_TOKEN: ${{ secrets.TRUSTWALLET_PAT }}
          GITHUB_USER: ${{ secrets.TRUSTWALLET_USER }}
        run: ./gradlew build test --parallel --build-cache --no-daemon
      - name: Archive code analysis reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Lint-Reports
          path: |
            app/build/reports/lint-results-debug.html
            app/build/intermediates/lint_intermediate_text_report/debug/lintReportDebug/lint-results-debug.txt